.edit-merchant {
    display: inline-block;
    background: #269100;
    color: #fff;
    padding: .2em;
    float: right;
}

.delete-merchant {
    display: inline-block;
    background: #ff4a2f;
    color: #fff;
    padding: .2em;
    float: right;
}
.bids-header {
    background: #269100;
    color: #fff;
    padding: .2em;
    float: left;
}

.add-bid {
    display: inline-block;
    background: #00c0ff;
    color: #fff;
    padding: .2em;
    float: right;
}

.merchant-container {
    background: #fff;
    padding: 1em;
    text-align: left;
}

.merchant-details-container {
    background: #fff;
    padding: 1em;
}

.bid-container {
    background: #ccc;
    padding: 1em;
}

.hide {
    display: none;
}

.show {
    display: block;
}
.error {
    color: red;
}
